body{
    display: block;
    font-family: 'Montserrat', sans-serif;
    background-image: url(imagens/Background.jpg);
    background-size: cover;
    text-align: center; 
}

.logo{
    margin: 120px 40px 120px 40px;

}

/* título cuidado, ao rolar pode conter... */
.tittle{
    font-size: 36px bold;
    margin: 90px 10px 60px 10px;

    border-color: #26093A;
    color: #26093A;
    -webkit-text-stroke: 1px #FFFFFF;
}

/* caixa roxa */
#caixa{
    background-color: #26093A;
    border-radius: 80px;
    padding-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    height: 500%;
}

.icon-yellow{
    margin: 90px 20px 60px 40px;
}

/* imagem spoiler */
.spoiler{
    margin: 100px 20px 130px 20px;
}

.seta-down{
    margin: 90px 20px 90px 20px;
}

/* título você já está sabendo? */
.tittle2{
    margin: 90px 40px 30px 40px;
    color: #FFFFFF;
    font-size: 18px ;
}

/* imagem rs summit */
.img-caixa {
    position: relative;
    display: inline-block;
    border-radius: 40px;
    overflow: hidden;
}

.img-caixa img{
    width: 100%;
    border-radius: 40px;
    display: block;
}

/* rodapé imagem rd summit */
.img-footer{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    justify-content: center;
    gap: 3%;
    padding: 10px 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.img-caixa:hover .img-footer {
    font-size: 12px bold;
    background-color: #000000;
    height: 70px;
    opacity: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.icons{
    display: flex;
    gap: 10px;
}

/* título confira o que já saiu e o que está por vir */
.tittle3{
    margin: 40px 40px 10px 40px;
    color: #FFFFFF;
    font-size: 18px;
}









.carrossel-caixa {
    position: relative;
    width: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.carrossel{
    display: flex;
    gap: 20px;
}

.item{
    min-width: 200px;
    border-radius: 20px;
    text-align: center;
}

.item img {
    margin-top: 8px;
    font-size: 14px bold;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    border: 2px solid transparent;
    box-shadow: -10px 20px 50px #8f0dff33;
    display: block;
}

.item:hover img {
  border-color: #FFFFFF;
}

.item p {
    margin-top: 8px;
    font-size: 14px bold;
    font-weight: bold;
    color: #FC2BEE;
    margin-top: 8px;
}

.item:hover p {
  color: #FFFFFF;
}

.arrow{
    box-shadow: 3px 5px 0px #FC2BEE;
    opacity: 100%;
}