body{
    display: block;
    font-family: 'Montserrat', sans-serif;
    background-image: url(imagens/Background.jpg);
    background-size: cover;
    text-align: center; 
}

.logo{
    margin: 120px 40px 120px 40px;

}

/* título cuidado, ao rolar pode conter... */
.tittle{
    font-size: 36px bold;
    margin: 90px 10px 60px 10px;

    border-color: #26093A;
    color: #26093A;
    -webkit-text-stroke: 1px #FFFFFF;
}

/* caixa roxa */
#caixa{
    background-color: #26093A;
    border-radius: 80px;
    padding-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

.icon-yellow{
    margin: 90px 20px 60px 40px;
}

/* imagem spoiler */
.spoiler{
    margin: 100px 20px 130px 20px;
}

.seta-down{
    margin: 90px 20px 90px 20px;
}

/* título você já está sabendo? */
.tittle2{
    margin: 90px 40px 30px 40px;
    color: #FFFFFF;
    font-size: 18px ;
}

/* imagem rs summit */
.img-caixa {
    position: relative;
    display: inline-block;
    border-radius: 40px;
    overflow: hidden;
}

.img-caixa img{
    width: 100%;
    border-radius: 40px;
    display: block;
}

/* rodapé imagem rd summit */
.img-footer{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    justify-content: center;
    gap: 3%;
    padding: 10px 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.img-caixa:hover .img-footer {
    font-size: 12px bold;
    background-color: #000000;
    height: 70px;
    opacity: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.icons{
    display: flex;
    gap: 10px;
}

/* título confira o que já saiu e o que está por vir */
.tittle3{
    margin: 40px 40px 10px 40px;
    color: #FFFFFF;
    font-size: 18px;
}









.carrossel-caixa {
    position: relative;
    width: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.carrossel{
    display: flex;
    gap: 20px;
}

.item{
    min-width: 200px;
    border-radius: 20px;
    text-align: center;
}

.item img {
    margin-top: 8px;
    font-size: 14px bold;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    border: 2px solid transparent;
    box-shadow: -10px 20px 50px #8f0dff33;
    display: block;
}

.item:hover img {
  border-color: #FFFFFF;
}

.item p {
    margin-top: 8px;
    font-size: 14px bold;
    font-weight: bold;
    color: #FC2BEE;
    margin-top: 8px;
}

.item:hover p {
  color: #FFFFFF;
}

.arrow{
    box-shadow: 3px 5px 0px #FC2BEE;
    opacity: 100%;
    padding: 7%;
    border-radius: 50%;
}

/* título  */
.fazer-parte{
    margin: 100px 20px 100px 20px;
}

/* título formulário */
.titulo-form{
    margin: 40px 40px 40px 40px;
    color: #FFFFFF;
    font-size: 14px bold;
    line-height: 1.4;
}

/* caixa formulário */
.section-form{
    margin-top: 24px;
    display: block;
}

.formulario{
    background-color: #26093A;
    border-radius: 80px;
    padding: 30px;
    margin-left: 30%;
    margin-right: 30%;
}

/* inputs */
.formulario input[type="text"], .formulario input[type="email"]{
  width: 80%;
  height: 70px;
  margin: 10px 0;
  border-radius: 40px;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 14px regular;
  padding: 0 20px;
  outline: none;
  transition: 0.3s;
}

.formulario input:focus{
    color: #FC2BEE;
    border-color: #FC2BEE;
}

.formulario label {
    display: flex;
    align-items: center;
    margin-left: 50px;

}

.termo{
    display: flex;
    font-size: 14px;
    font-weight:600;
    align-items: center;
    margin: 30px 0 30px 10px;
    color: #FFFFFF;
}


.formulario input[type="checkbox"]{
    border: 2px solid #ffffff;
    border-radius: 50%;
    background-color: transparent;
}


/* botão */

.formulario button {
    margin-top: 20px;
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 40px;
    border: none;
    background-color: #FFFFFF;
    color: #280031;
    opacity: 100%;
    box-shadow: 3px 5px 0 #FC2BEE;
}